packages:
  yum:
    mariadb-devel: []  # MySQL client libraries
    gcc: []            # Compiler for C extensions
    python3-devel: []  # Python headers

commands:
  01_install_mysql_deps:
    command: "sudo yum install -y mariadb-devel gcc python3-devel"
    ignoreErrors: false

  02_set_env_vars:
    command: |
      echo 'export MYSQLCLIENT_CFLAGS="-I/usr/include/mysql"' >> /etc/profile.d/sh.local
      echo 'export MYSQLCLIENT_LDFLAGS="-L/usr/lib64/mysql -lmysqlclient"' >> /etc/profile.d/sh.local

  03_install_pip_deps:
    command: "pip install -r requirements.txt"
    leader_only: true