packages:
  yum:
    mysql-devel: []  # Use this for Amazon Linux 2023
    gcc: []
    python3-devel: []

commands:
  01_set_env_vars:
    command: |
      echo 'export MYSQLCLIENT_CFLAGS="-I/usr/include/mysql"' >> /opt/elasticbeanstalk/deployment/env
      echo 'export MYSQLCLIENT_LDFLAGS="-L/usr/lib64/mysql -lmysqlclient"' >> /opt/elasticbeanstalk/deployment/env
  02_install_deps:
    command: "pip install -r requirements.txt"
    leader_only: true